/* Intro section */

.intro_locations {
  position: relative;
  background-color: $dark-bg-color;
  .locations_vector {
    width: 700px;
    height: 585px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .intro_locations_map {
    padding: 0 252px;
  }

  .intro_locations_motto {
    height: 360px;
    h1 {
      width: 62.625rem;
      padding-top: 90px;
      padding-left: 15.75rem;
      font-family: Manrope;
      font-style: normal;
      font-weight: 300;
      font-size: 72px;
      line-height: 93%;
      /* or 76px */

      letter-spacing: -0.02em;

      color: #eeeeee;
      span {
        font-weight: bold;
        font-style: bold;
      }
    }
    p {
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;

      color: #0e3352;
      span {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 29px;

        color: #6f6f6f;
      }
    }
  }
  .intro_locations_info {
    position: absolute;
    top: 276px;
    right: 252px;

    background: #fff;

    p {
      width: 942px;
      height: 190px;
      padding: 52px 81px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 39px;
      color: #0b2c48;
      letter-spacing: -0.02em;
    }
  }
}

.locations_description {
  padding: 100px 80px 100px 970px;
  position: relative;
  margin: 252px;
  background: #152c46;

  .locations_info {
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      margin-bottom: 18px;
      font-family: Manrope;
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: 71px;
      letter-spacing: -0.9818181991577148px;
      text-align: left;
      color: #fff;
    }
    p {
      margin-bottom: 18px;
      width: 100%;
      font-family: Manrope;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: -0.5px;
      text-align: left;

      color: #fff;
    }
    .phone a {
      font-family: Manrope;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: -0.5px;
      text-align: left;
      color: #fff;
    }
    .address {
      margin-top: 18px;
      margin-bottom: 90px;
      font-family: Manrope;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: -0.5px;
      text-align: left;
      color: #fff;
    }
    .btn_nobox {
      display: flex;
      padding: auto 20px;
      align-items: center;
      justify-content: start;
      height: 30px;
      width: 100%;
      margin: 0;
      border: none;
      font-family: Manrope;
      font-size: 21px;
      font-style: normal;
      font-weight: 800;
      line-height: 29px;
      letter-spacing: 0, 03em;
      text-align: left;
      color: #1e9fd7;
      span {
        width: 16px;
      }
    }
  }
}
.locations_item.left {
  .locations_picture {
    position: absolute;
    top: -100px;
    left: -150px;
  }
}
.locations_item.right {
  .locations_description {
    padding: 100px 970px 100px 80px;

    .locations_picture {
      width: 1060px;
      position: absolute;
      top: -100px;
      right: -150px;
    }
  }
}
