.intro_news_page {
  position: relative;
  .intro_news_page_img {
    height: 725px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .intro_news_info {
    position: absolute;
    width: 1560px;
    top: 380px;
    margin: 0 180px;
    padding: 90px 75px 0 75px;
    background: #fff;
    display: grid;
    grid-template-columns: 700px auto;
    grid-template-rows: 275px auto;

    h2 {
      width: 100%;
      padding-right: 150px;
      font-family: Manrope;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 51px;
      letter-spacing: 0em;
      text-align: left;
      color: #0b2c48;
    }
    .p_news_info1 h4 {
      margin-bottom: 70px;
      font-family: Manrope;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: -0, 02em;
      text-align: left;
      color: #0b2c48;
    }
    .p_news_info2 {
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0, 03em;
      text-align: left;
      color: #a5a5a5;
    }
    .p_news_info1 p,
    .p_news_info3 p {
      margin-bottom: 30px;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0, 02em;
      text-align: left;
      color: #a5a5a5;
    }
  }
}
/* Section News */
.news_showcase {
  padding-top: 1200px;
  background: #fff;
}
.news_info {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 0 252px 130px;

  h3 {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 108%;
    color: #0e3352;
    span {
      font-weight: bold;
    }
  }
  .btn {
    display: flex;
    padding: auto 20px;
    align-items: center;

    justify-content: start;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #1e9fd7;
    span {
      width: 12px;
    }
  }
}
.news_images_1 {
  display: grid;
  grid-template-columns: 252px 460px 22px 460px 22px 460px 22px 230px;
  height: 270px;

  & > div {
    background: #fff;
  }
}
.news_images_2 {
  display: grid;
  grid-template-columns: 252px 460px 22px 460px 22px 460px 22px 230px;

  & > div {
    background: #0e3352;
  }
  .image_item_text {
    height: 347px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    padding: 50px 30px 0;

    &.last {
      background: #fff;
      padding-right: 0;
    }
    h4 {
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
    }
    p {
      width: 100%;
      margin-top: 20px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 140%;
      color: #6f6f6f;
    }
    .btn {
      margin-bottom: 20px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 21px;
      line-height: 140%;
      /* identical to box height, or 29px */

      letter-spacing: -0.03em;
      color: #1e9fd7;
    }
  }
}
