@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: “pnum”;
  font-feature-settings: “pnum”;
  font-variant-numeric: proportional-nums;
}

.wrapper {
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;
}

/* Header */

header {
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 6.25rem;
  width: 100%;
  align-items: center;

  color: $light-text-color;
  background-color: $dark-bg-color;
}
.pre_nav {
  height: 1.5rem;
  position: absolute;
  width: 100%;
  .return {
    width: 13rem;
    height: 100%;
    padding: 0.3rem 0.5rem;
    margin-left: 92.375rem;

    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.125em;
    background-color: $darkest-bg-color;

    color: $light-text-color;

    opacity: 0.7;
    a {
      color: $dark-text-color;

      &:hover {
        border-bottom: 0.125rem solid $dark-text-color;
      }
    }
  }
}
.nav_menu {
  display: flex;
  position: absolute;
  padding: 0 320px;
  width: 100%;

  height: 5rem;
  justify-content: space-between;

  .logo {
    width: 500px;

    background: #6f6f6f;
    opacity: 80%;
    border-radius: 5px;

    p {
      padding: 15px 5px;
      font-size: 44px;
      font-style: oblique;
      text-align: center;

      font-family: "Russo One", sans-serif;
      color: #ed4d66;
    }
  }
  .nav_menu_box {
    display: flex;
    height: 100%;
    width: 50%;
    padding-right: 320px;

    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      li {
        list-style: none;
        a {
          color: $light-text-color;
          text-decoration: none;
          font-family: Manrope;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 0.1em;
          &:hover {
            border-bottom: 0.125rem solid $dark-text-color;
          }
        }
      }
    }
  }
}
/* Home page */
.panel {
  height: 100vh;
}
.second {
  background: $dark-bg-color;
}
.third {
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
  h1 {
    font-size: 56px;
    color: $dark-text-color;
  }
}
.forth {
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellowgreen;
  h1 {
    font-size: 56px;
    color: $dark-text-color;
  }
}
.hero {
  position: relative;
  background-color: $dark-bg-color;
  .vector {
    width: 620px;
    height: 1439px;
    position: absolute;
    top: 0;
    right: 0;

    /* img {
      width: 620px;
      height: 1439px;
    } */
  }
  .intro {
    height: 40vh;
  }
  .intro_motto {
    overflow: hidden;
    width: 1650px;
    padding: 12rem 0 8rem 12rem;
    .text {
      padding-left: 15.75rem;
      font-family: Manrope;
      font-style: normal;
      font-weight: 300;
      font-size: 70px;
      line-height: 120%;
      color: #eeeeee;
    }
    .red {
      color: #ed4d66;
      font-weight: bold;
      font-style: bold;
    }
    .hide {
      background: $dark-bg-color;

      .text {
        transform: translateY(450%);
      }
    }
    /* h1 {
      width: 62.625rem;
      padding-top: 12.375rem;
      padding-left: 15.75rem;
      font-family: Manrope;
      font-style: normal;
      font-weight: 300;
      font-size: 76px;
      line-height: 100%;
      /* or 76px */

    /*letter-spacing: -0.02em;

      color: #eeeeee;
      span {
        color: #ed4d66;
        font-weight: bold;
        font-style: bold;
      }
    }*/
  }
  .intro_info {
    .intro_subtitle {
      margin-left: 9rem;

      .intro_subtitle_text {
        opacity: 0;
        width: 72rem;

        font-family: Manrope;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        letter-spacing: 1.5px;
        line-height: 140%;
        /* or 39px */
        color: #eeeeee;
        span {
          color: #ed4d66;
        }
      }
    }
  }
  .cta {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 53%;
    bottom: 1140px;
    left: 320px;
    margin-right: 300px;

    .cta_text {
      opacity: 0;
      margin-bottom: 100px;
      border-radius: 5px;
      font-family: Manrope;
      align-self: flex-start;
      font-style: normal;
      font-weight: bolder;
      font-size: 60px;
      letter-spacing: 1px;
      color: #ed4d66;

      span {
        color: #eeeeee;
      }
    }

    .cta_btn {
      opacity: 0;
      display: flex;
      align-self: flex-end;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 100px;
      background: #ed4d66;
    }
    a {
      text-decoration: none;
      font-family: Manrope;

      font-style: normal;
      font-weight: bolder;
      font-size: 30px;
      letter-spacing: 1px;
      color: $light-text-color;
    }
  }
  .intro_img img {
    height: 73.5rem;
  }
}

/* Section News */

.news_footer {
  height: 143px;
  background: #0e3352;
}
/* Footer */

footer {
  background: #0e3352;
}
.footer_links {
  height: 420px;
  padding: 50px 252px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  ul {
    list-style: none;
  }
  li {
    padding-bottom: 28px;
  }
  a {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
  }
}

.footer_meta {
  height: 228px;
  padding: 50px 252px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0b2c48;

  p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.03em;

    color: #ffffff;

    opacity: 0.7;
  }
  .social {
    width: 46px;
    height: 55px;
    padding: 10px 0 10px 10px;
    border: 1px solid #8999a6;
    a {
      text-decoration: none;
    }
    i {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -0.03em;

      color: #8999a6;
    }
  }
}
/* About page */

/* Intro section */

.intro_about {
  position: relative;
  background-color: $dark-bg-color;
  .about_vector {
    width: 700px;
    height: 585px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .intro_about_motto {
    height: 402px;
    h1 {
      width: 62.625rem;
      padding-top: 90px;
      padding-left: 15.75rem;
      font-family: Manrope;
      font-style: normal;
      font-weight: 300;
      font-size: 82px;
      line-height: 93%;
      /* or 76px */

      letter-spacing: -0.02em;

      color: #eeeeee;
      span {
        font-weight: bold;
        font-style: bold;
      }
    }
    p {
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;

      color: #0e3352;
      span {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 29px;

        color: #6f6f6f;
      }
    }
  }
  .intro_about_info {
    position: absolute;
    top: 330px;
    right: 252px;

    background: #fff;

    p {
      width: 1004px;
      height: 277px;
      padding: 52px 81px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 39px;
      color: #0b2c48;
      letter-spacing: -0.02em;
    }
  }
}

/* Hiperion section */
.hyperion {
  background: #fafafa;

  .hyperion_info {
    display: flex;
    justify-content: space-between;
    padding: 200px 252px 100px 252px;
    h2 {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 52px;
      line-height: 100%;
      /* or 52px */

      letter-spacing: -0.025em;

      color: #152c46;
      span {
        font-weight: bold;
      }
    }

    .hyperion_description {
      width: 575px;
      margin-right: 252px;

      h3 {
        margin-bottom: 10px;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;

        color: #0e3352;
      }
      p {
        width: 100%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 29px;

        color: #6f6f6f;
      }
    }
  }
  .hyperion_data {
    margin: 0 90px;
    display: flex;

    color: #0e3352;

    .hyperion_vector {
      svg {
        margin-top: 90px;
      }
    }
    .hyperion_data_grid {
      width: 60%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      padding: 0 50px 200px 206px;
      .hyperion_data_grid_item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .quantity {
          display: flex;
        }
        p {
          font-family: Manrope;
          font-style: normal;
          font-weight: 200;
          font-size: 40px;
          line-height: 150%;
          /* or 210px */

          letter-spacing: -0.02em;

          color: #152c46;
          &.up {
            margin-top: -50px;
          }
        }
        .sign {
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 62px;
          line-height: 300%;
          /* identical to box height, or 93px */

          letter-spacing: -0.02em;

          color: #152c46;
        }
        .number {
          margin-right: 10px;
          font-family: Manrope;
          font-style: light;
          font-weight: 200;
          font-size: 140px;
          line-height: 100%;
          /* or 210px */

          letter-spacing: -0.02em;

          color: #152c46;
        }
        .letters {
          margin-right: 10px;
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 62px;
          line-height: 320%;
          /* identical to box height, or 93px */

          letter-spacing: -0.02em;

          color: #152c46;
        }
      }
    }
  }
}
/* Global section */

.global_about {
  position: relative;
  background: #0e3352;
  padding: 0 252px;

  .fully_independent {
    position: absolute;
    top: -200px;
    left: 150px;
    width: 1620px;
    height: 440px;
    padding: 150px 200px 200px 100px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    h2 {
      margin-right: 250px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 52px;
      line-height: 100%;
      /* or 52px */

      letter-spacing: -0.025em;

      color: #0b2c48;
      span {
        font-style: bold;
      }
    }
    p {
      margin-bottom: 12px;
      margin-right: 227px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 140%;
      /* or 29px */

      color: #6f6f6f;
    }
  }

  .boutique_motto {
    display: flex;
    justify-content: space-between;
    padding: 380px 0 152px;
    h2 {
      width: 600px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 52px;
      line-height: 52px;

      letter-spacing: -0.025em;

      color: #ffffff;
    }
    p {
      width: 690px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 300;
      font-size: 21px;
      line-height: 29px;

      letter-spacing: -0.02em;

      color: #ffffff;
    }
  }

  .boutique_vector {
    svg {
      width: 100%;
    }
  }
}
.global_about_innovation {
  margin-top: 200px;
  padding-bottom: 225px;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-row: 2;

  .p_box {
    margin-bottom: 100px;
  }
  p {
    margin-bottom: 10px;
  }

  .d_box {
    height: 475px;

    grid-column: 2;
    grid-row: 2;
    display: flex;
    .design {
      position: relative;
      width: 361px;
      margin-right: 27px;
    }
    .design_text,
    .development_text {
      position: absolute;
      top: 240px;
      margin: 50px;
    }

    .development {
      position: relative;
      width: 361px;
    }

    h4 {
      margin-bottom: 10px;
      font-family: Manrope;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0, 02em;
      text-align: left;
      color: #fff;
    }
    p {
      width: 100%;
      font-family: Manrope;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;

      color: #fff;
    }
  }
}
/* Section Employee */

.employee_showcase {
  position: relative;
}

.employee_showcase .container {
  padding: 200px 252px 260px;
  background-color: #fff;
  color: #0e3352;
}

.employee_info {
  display: grid;
  grid-template-columns: 40% 60%;

  h3 {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 108%;
    color: #0e3352;

    span {
      font-weight: bold;
    }
  }
  p {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    margin-bottom: 40px;
    color: #6f6f6f;
  }
  .btn {
    display: flex;
    padding: auto 20px;
    align-items: center;

    justify-content: start;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #1e9fd7;
    span {
      width: 12px;
    }
  }
}

.employee_gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;

  margin: 100px 0 140px 400px;

  &_item1 {
    display: grid;
    grid-template-rows: 2 1fr;

    margin-top: 180px;
  }
  &_item2 {
    display: grid;
    grid-template-rows: 2 1fr;
    margin-bottom: 180px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

/* Section Contact */

.contact_about {
  position: absolute;
  bottom: -100px;
  left: 252px;
  width: 1540px;

  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00e09e;
  .contact_description {
    display: flex;
    justify-content: space-between;
  }

  h2 {
    font-family: Manrope;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -0, 02em;
    text-align: left;
  }
  p {
    width: 586px;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: -0, 02em;
    text-align: left;
    color: #0e3352;
  }

  .contact_btn {
    display: inline-block;
    background: #0e3352;
    width: 350px;
    height: 90px;
    text-align: center;
    padding-top: 24px;
    a {
      text-decoration: none;
      font-family: Manrope;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 41px;
      letter-spacing: -0, 02em;
      text-align: center;

      color: #fff;
    }
  }
}
#employee + footer {
  padding-top: 100px;
}
